extends layout

block content
  h1 #{title}
  table.table
    thead
      tr
        th(scope='col') Sr #      
        th(scope='col') Blog 
        th(scope='col') Created On
    tbody
      each article, i in articles    
        tr
          td(scope='row')=i+1
          td 
            a(href="/articles/"+article._id)= article.title 
          td 
             a(href="/articles/"+article._id)= article.createdOn            
