html,body {
    height: 100%;
}

.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

}

.alert-success_msg{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

footer {
    position: fixed;
    height: 56px;
    bottom: 0;
    width: 100%;
}

.full_height{
    height: 100%;
}

.navbar-red{
    background-color: darkseagreen;
}

.navbar-brand, .nav-link{
    color: darkslategray;
    font-weight: bold;
}
.article{
    padding: 16px;
}

.article-title{
    font-size: 30px;
    font-family: fantasy;
    text-transform: capitalize;
    background: white;
    padding: 16px;
}

.article-body{
    background-color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 8px;
    text-align: justify;
    font-family: monospace;
    
}

.article-action{
    text-align: right;
    padding: 16px;
    margin: 16px;
}

.table{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.table  a{
   text-decoration: none; 
   color: black;
}

.table tr:hover td{
    background-color: darkseagreen;
    color: darkslategray;
}